# Data Input and Output

- need to know exact location of file to access in pandas.
- you may needs passwords or permisisons for certain data inputs.

In [1]:
import pandas as pd
# We write out the dataframe out to csv

In [2]:
pwd

'C:\\Users\\Alessandro\\Documents\\DataScienceMasterclass\\03-Pandas'

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AC37-8F77

 Directory of C:\Users\Alessandro\Documents\DataScienceMasterclass\03-Pandas

14/11/2021  09:32 PM    <DIR>          .
14/11/2021  09:32 PM    <DIR>          ..
14/11/2021  09:29 PM    <DIR>          .ipynb_checkpoints
09/11/2021  07:30 PM    <DIR>          __pycache__
11/11/2021  09:56 PM           565,390 00-Series.ipynb
13/11/2021  02:10 PM           208,957 01-DataFrames.ipynb
09/11/2021  07:30 PM           194,591 02-Conditional-Filtering.ipynb
09/11/2021  07:30 PM           196,385 03-Useful-Methods.ipynb
09/11/2021  07:30 PM            64,227 04-Missing-Data.ipynb
09/11/2021  07:30 PM           219,627 05-Groupby-Operations-and-MultiIndex.ipynb
14/11/2021  08:32 PM            62,966 06-Combining-DataFrames.ipynb
09/11/2021  07:30 PM            32,972 07-Text-Methods.ipynb
09/11/2021  07:30 PM            93,392 08-Time-Methods.ipynb
09/11/2021  07:30 PM            65,234 09-Inputs-and-Outputs.ipynb
09/11/2021  07:30 PM           101,081 10-Pivot-Tables.ipynb
09/11/2021  07:30 PM            47,135 11-Pandas-Project-Exercise .ipynb
09/11/2021  07:30 PM            52,576 12-Pandas-Project-Exercise-Solution.ipynb
14/11/2021  08:32 PM            11,457 Concatenation.ipynb
13/11/2021  07:11 PM           112,127 Conditional Filtering.ipynb
14/11/2021  09:32 PM               992 Data Input and Output.ipynb
13/11/2021  05:18 PM           189,763 DataFrames.ipynb
14/11/2021  09:28 PM            26,885 Date and Time Methods.ipynb
14/11/2021  08:32 PM           198,358 DropBy Operations.ipynb
09/11/2021  07:30 PM                51 example.csv
09/11/2021  07:30 PM             5,022 example.xlsx
09/11/2021  07:30 PM        25,112,317 hotel_booking_data.csv
14/11/2021  08:41 PM            34,767 Merging.ipynb
14/11/2021  08:32 PM            46,525 Missing Data.ipynb
09/11/2021  07:30 PM               177 movie_scores.csv
09/11/2021  07:30 PM            17,727 mpg.csv
09/11/2021  07:30 PM             5,022 my_excel_file.xlsx
09/11/2021  07:30 PM                51 new_file.csv
09/11/2021  07:30 PM             5,021 new_workbook.xlsx
09/11/2021  07:30 PM                51 newfile.csv
13/11/2021  02:06 PM            11,102 Pandas Basics.ipynb
09/11/2021  07:30 PM            52,132 reshaping_pivot.png
09/11/2021  07:30 PM             5,459 RetailSales_BeerWineLiquor.csv
09/11/2021  07:30 PM             1,320 Sales_Funnel_CRM.csv
09/11/2021  07:30 PM             1,330 sample_table.html
09/11/2021  07:30 PM               555 simple.html
14/11/2021  08:57 PM            10,263 Text Methods.ipynb
09/11/2021  07:30 PM            18,752 tips.csv
11/11/2021  09:54 PM                72 Untitled.ipynb
13/11/2021  02:08 PM               915 Untitled1.ipynb
14/11/2021  09:28 PM                72 Untitled10.ipynb
13/11/2021  05:19 PM                72 Untitled2.ipynb
13/11/2021  07:11 PM                72 Untitled3.ipynb
13/11/2021  08:17 PM                72 Untitled4.ipynb
14/11/2021  06:21 PM                72 Untitled5.ipynb
14/11/2021  07:01 PM                72 Untitled6.ipynb
14/11/2021  07:16 PM             1,019 Untitled7.ipynb
14/11/2021  08:41 PM                72 Untitled8.ipynb
14/11/2021  08:57 PM                72 Untitled9.ipynb
13/11/2021  08:17 PM           154,220 Useful Methods.ipynb
              50 File(s)     27,928,561 bytes
               4 Dir(s)  1,204,665,958,400 bytes free

In [4]:
# Can us os module in python
import os

In [6]:
os.getcwd() # Probably would be better because it is cross platform

'C:\\Users\\Alessandro\\Documents\\DataScienceMasterclass\\03-Pandas'

In [7]:
os.ls()

AttributeError: module 'os' has no attribute 'ls'

In [9]:
os.dir()

AttributeError: module 'os' has no attribute 'dir'

In [12]:
df = pd.read_csv('example.csv', header=None)

In [13]:
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [15]:
df = pd.read_csv('example.csv', index_col=0) # use the first index column as the actual index for the DF

In [16]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [17]:
# To csv and put path!
df.to_csv('newfile.csv')

In [19]:
df = pd.read_csv('example.csv')

In [20]:
df.to_csv('newfile.csv', index=False)

# HTML Tables