In [1]:
import numpy as np
import pandas as pd

In [2]:
# pd series! help(pd.series)

myindex = ['USA', 'CANADA', 'MEXICO']
mydata = [1776, 1867, 1821]

myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [3]:
type(myser)

pandas.core.series.Series

In [4]:
myser[0]

1776

In [5]:
myser['USA']

1776

In [6]:
# Series object maintains normal + labelled index
myser['MEXICO']

1821

In [7]:
myseranom = pd.Series(mydata, myindex)

In [8]:
myseranom

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [11]:
# We can create a series from a dict
ages = {
    'SAM': 5,
    'FRANK': 10,
    'SPIKE': 7
}

# Yes pandas is that smart!
pd.Series(ages)

SAM       5
FRANK    10
SPIKE     7
dtype: int64